<script setup>
import * as $rdf from 'rdflib'

import {{ positive_content_component }} from './{{ positive_content_component }}.vue'
import {{ negative_content_component }} from './{{ negative_content_component }}.vue'
// <custom-imports>
// </custom-imports>


const props = defineProps([
    'graph',
    'depth',
    'object',
    // <custom-props>
    // </custom-props>
])


const predicate = $rdf.sym('{{ predicate }}')
const value = '{{ value }}'

const compare = (object) => props.graph?.match(object, predicate)[0]?.object.value == value
// <custom-code>
// </custom-code>
</script>
<template>
    {% set elem = 'div' if is_block else 'span' -%}
    <{{ elem }}>
        <template v-if="compare(object)">
            <{{ positive_content_component }} :graph="graph" :depth="depth" :object="object" />
        </template>
        <template v-else>
            <{{ negative_content_component }} :graph="graph" :depth="depth" :object="object" />
        </template>
    </{{ elem }}>
</template>
