<script setup>
{%- if predicate %}
import * as $rdf from 'rdflib'
{%- endif  %}
import moment from 'moment'
// <custom-imports>
// </custom-imports>


const props = defineProps([
    'graph',
    'depth',
    'object',
    // <custom-props>
    // </custom-props>
])

{% if predicate %}
const predicate = $rdf.sym('{{ predicate }}')
{% endif %}

const format = (value) => moment(value).format('{{ format }}')
// <custom-code>
// </custom-code>
</script>
<template>
    <span>
        {%- if predicate -%}
            {{ '{{ format(graph?.match(object, predicate)[0]?.object.value) }}' }}
        {%- else -%}
            {{ '{{ format("' + text + '") }}' }}
        {%- endif -%}
    </span>
</template>
