<script setup>
{% if predicate -%}
import * as $rdf from 'rdflib'
{%- endif  %}
// <custom-imports>
// </custom-imports>

const props = defineProps([
    'graph',
    'depth',
    'object',
    // <custom-props>
    // </custom-props>
])

{% if predicate %}
const predicate = $rdf.sym('{{ predicate }}')
{% endif %}

// <custom-code>
// </custom-code>
</script>
<template>
    <a :href="{%- if predicate -%}{{ '`mailto:${graph?.match(object, predicate)[0]?.object.value}`' }}{%- else -%}'mailto:{{ text }}'{%- endif -%}" {{ 'class="block"' if is_block else '' }}>
        {%- if predicate -%}{{ '{{ graph?.match(object, predicate)[0]?.object.value }}' }}{%- else -%}{{ text }}{%- endif -%}
    </a>
</template>
