<script setup>
{% if predicate -%}
import * as $rdf from 'rdflib'
{%- endif  %}
import Heading from '@/components/duo/Heading.vue'
// <custom-imports>
// </custom-imports>

const props = defineProps([
    'graph',
    'depth',
    'object',
    // <custom-props>
    // </custom-props>
])

{% if predicate %}
const predicate = $rdf.sym('{{ predicate }}')
{% endif %}

// <custom-code>
// </custom-code>
</script>
<template>
    {% if predicate -%}
    <Heading :depth="depth" :text="{{ 'graph?.match(object, predicate)[0]?.object.value' }}" {{ '' if is_block else 'style="display: inline"'  }} />
    {%- else -%}
    <Heading :depth="depth" text="{{ text }}" {{ '' if is_block else 'style="display: inline"'  }} />
    {%- endif %}
</template>
