{%- set dc = ctx|to_context_obj -%}

<!DOCTYPE HTML>
<html>
<head>
    <title>DSW Questionnaire Report: {{ dc.qtn.name }}</title>
    <meta charset="utf-8">
    <style>{% include "src/default.css" %}</style>
</head>
<body>
<article class="dmp">
    {% set depth = 0 %}
    {% include "src/components/gen/Container_Root.html.j2" %}
</article>
</body>
</html>
