{{ '{%-' }} macro component(graph, depth, object) -%}
    {{ '{#' }}  Customization (before): start  #}
        {{ harvested_before }}
    {{ '{#' }}  Customization (before): end  #}
    <span>
        {%- if predicate -%}
            {{ '{{' }} rdf_helpers.get_object_by(graph, object, '{{predicate}}') }}
        {%- else -%}
            {{ content }}
        {%- endif -%}
    </span>
    {{ '{#' }}  Customization (after): start  #}
        {{ harvested_after }}
    {{ '{#' }}  Customization (after): end  #}
{{ '{%-' }} endmacro -%}
