{% for component in children -%}
{{ '{%' }} import 'src/components/gen/{{ component }}.html.j2' as {{ component }} %}
{% endfor %}

{% set elem = 'div' if is_block else 'span' -%}
<{{ elem }}>
    {% for component in children -%}
    {{ '{{' }} {{ component }}.component(graph, depth + 1, object) }}
    {% endfor %}
</{{ elem }}>
