{{ '{%-' }} macro component(graph, depth, object) -%}
    {% if predicate -%}
    import * as $rdf from 'rdflib'
    {%- endif  %}
    {{ '{%' }} import 'src/Heading.html.j2' as Heading %}


    {{ '{%' }} if predicate %}
        {{ '{%' }} set predicate = predicate %}
    {{ '{%' }} endif %}

    {% if predicate -%}
    {{ '{{' }} Heading.Heading(depth, 'graph?.match(object, predicate)[0]?.object.value') }}
    {%- else -%}
    {{ '{{' }} Heading.Heading(depth, text) }}
    {%- endif %}
{{ '{%-' }} endmacro -%}
