{{ '{%-' }} macro component(graph, depth, object) -%}
    Iterative
{{ '{%-' }} endmacro -%}


{#<script setup>#}
{#import * as $rdf from 'rdflib'#}
{##}
{#import IterativeContainer from '@/components/duo/IterativeContainer.vue'#}
{#import {{ content_component }} from './{{ content_component }}.vue'#}
{#// <custom-imports>#}
{#// </custom-imports>#}
{##}
{##}
{#const props = defineProps([#}
{#    'graph',#}
{#    'depth',#}
{#    'object',#}
{#    // <custom-props>#}
{#    // </custom-props>#}
{#])#}
{##}
{##}
{#const predicate = $rdf.sym('{{ predicate }}')#}
{#// <custom-code>#}
{#// </custom-code>#}
{#</script>#}
{#<template>#}
{#    {% set elem = 'div' if is_block else 'span' -%}#}
{#    <{{ elem }}>#}
{#        <IterativeContainer#}
{#            :graph="graph"#}
{#            :depth="depth"#}
{#            :object="object"#}
{#            :predicate="predicate"#}
{#            v-slot="slotProps"#}
{#        >#}
{#            <{{ content_component }} :graph="graph" :depth="slotProps.depth" :object="slotProps.object" />#}
{#        </IterativeContainer>#}
{#    </{{ elem }}>#}
{#</template>#}
